* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'segoe ui';
    background-color: #1e272e;
}

a {
    text-decoration: none;
    color: white;
}

.text-center {
    text-align: center!important;
}