* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'segoe ui';
    background-color: #1e272e;
}

a {
    text-decoration: none;
    color: white;
}

.text-center {
    text-align: center!important;
}

.button {
    padding: 5px 10px;
    height: 40px;
    border-radius: 20px;
    user-select: none;
    cursor: pointer;
    border: 2px solid #7158e2;
}